<div id="main-container">
  <div id="header-container">
    <img src="/assets/WON.png" />&nbsp;Wuthless Coins
  </div>
  <div id="content-container">
  <% @coins.each do |coin| %>
    <div class="wuthless-name"><%= coin.name %></div>
    <div class="wuthless-coins"><%= coin.num_coins %></div>
    <div class="clear"></div>
  <% end %>
  </div>
</div>
